Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2022-08, with the labels that each got.

#93 [nrfconnect] Use device instead of device label for QSPI
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
Labels: platform, nrf connect

#98 [nrf noup] Added support for SPI NOR external flash
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
Labels: config

#101 [nrf noup] Prepare configuration for hci_rpmsg
  config/nrfconnect/chip-module/Kconfig.hci_rpmsg.defaults
  config/nrfconnect/chip-module/Kconfig.hci_rpmsg.root
Labels: config

#102 [nrf noup] Selected override config for SPI external flash
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
Labels: config

#104 Fix build latest wifi
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: DNM, platform, nrf connect

#105 Fix build wifi offapi
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#108 [nrf noup] Fixed the failsafe when connecting to WiFi wih invalid credentials.
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect
