Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2022-12, with the labels that each got.

#155 [nrf fromtree] [app] Implement deferred attribute persister (#23366)
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  src/app/AttributePersistenceProvider.h
  src/app/BUILD.gn
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/DefaultAttributePersistenceProvider.h
  src/app/DeferredAttributePersistenceProvider.cpp
  src/app/DeferredAttributePersistenceProvider.h
  src/app/server/Server.h
  src/app/util/attribute-storage.cpp
Labels: examples, app

#156 [nrf noup] wifi: RevertConfiguration optimization
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
Labels: bug, platform, nrf connect

#158 [nrf noup] config: nrfconnect: Define _DEFAULT_SOURCE
  config/nrfconnect/chip-module/CMakeLists.txt
Labels: config

#161 [nrf fromtree] [nrfconnect] Fix for jsonschema documentation and factory data script
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: documentation, scripts

#162 [nrf noup] Fix the 'disconnected' status appearing after scan is issued
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#165 [nrf noup] Fix ram_report and rom_report
  config/nrfconnect/chip-module/make_gn_args.py
Labels: config

#167 [nrf noup] wifi: fixed the connection callback initialization
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
Labels: platform, nrf connect

#166 [nrf noup] Disabled NFC thread callback
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#171 [nrf noup] Update required MCUmgr config
  config/nrfconnect/chip-module/Kconfig.features
Labels: config
