Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2022-11, with the labels that each got.

#140 [nrf noup] Set NEWLIB_LIBC_NANO to y as default
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#141 [nrf fromlist] Moved FlashHandler implementation to separate file
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-minimal-app/nrfconnect/CMakeLists.txt
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/platform/nrfconnect/util/DFUOverSMP.cpp
  examples/platform/nrfconnect/util/OTAUtil.cpp
  examples/platform/nrfconnect/util/include/OTAUtil.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/window-app/nrfconnect/CMakeLists.txt
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/ExternalFlashManager.h
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: examples, platform, nrf connect

#144 [nrf noup] Fix sending mDNS goodbye packets
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
Labels: lib

#145 [nrf noup] Introduced a workaround to send Router Solicitation after …
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: config, platform, nrf connect

#146 [nrf noup] wifi: forward the channel number and RSSI from WIFiManager
  src/platform/nrfconnect/DiagnosticDataProviderImplNrf.cpp
Labels: platform, nrf connect

#150 [nrf noup] Minor fixes for heap usage
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/Zephyr/SysHeapMalloc.cpp
Labels: config, platform, zephyr

#151 [nrf noup] Decrease the minimum heap size for newlibc
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: bug, config
