Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-05, with the labels that each got.

#267 [nrf noup] Fixed SYS_INIT callback API
  src/lib/shell/MainLoopZephyr.cpp
  src/platform/Zephyr/SysHeapMalloc.cpp
Labels: platform, zephyr, lib, shell

#282 [nrf noup] Adapt WiFiManager to the new wifi_ps_config API
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#283 [nrf noup] Added kconfig to configure SLEEPY_ACTIVE_THRESHOLD
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: bug, config, platform, nrf connect

#288 [nrf noup] moved bt_fixed_passkey config to the features set
  config/nrfconnect/chip-module/Kconfig.features
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: bug, config, app

#287 [nrf noup] Fixed nrf7002 kconfig name again
  config/nrfconnect/chip-module/Kconfig.features
Labels: bug, config

#290 [nrf noup] use CMake command instead of bash in build script
  config/common/cmake/chip_gn.cmake
Labels: bug, config
