Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-11, with the labels that each got.

#348 [nrf fromlist] [door-lock] Fix the crash when providing null-ed user index
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app

#350 [nrf noup] Changed ICD mode names from interval to duration
  config/zephyr/Kconfig
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: config, platform, nrf connect

#351 [nrf fromlist] Fix handling command handler status for group messages
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
Labels: app

#354 [nrf noup] Increased Wi-Fi max data size to fix commissioning fails
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#355 [nrf noup] Increased Wi-Fi max data size to fix commissioning fails
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#353 [nrf fromtree] [nrfconnect] Removed overwriting mbedTLS configs handled by OT (#30577)
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#358 [nrf noup] Aligned release tools to Matter 1.2
  .github/workflows/release_tools.yaml
Labels: github, workflows

#356 [nrf noup] Make Wi-Fi manager use Wi-Fi interface only
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/InetUtils.cpp
  src/platform/Zephyr/InetUtils.h
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect, zephyr
