Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-01, with the labels that each got.

#179 [nrf noup] Fixed hard fault once advertising mdns records
  config/zephyr/Kconfig
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
Labels: config, lib

#176 [nrf fromtree] [nrfconnect] Added support for user data in Factory Data parser
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/tests/test_generate_factory_data.py
  src/platform/nrfconnect/FactoryDataParser.c
  src/platform/nrfconnect/FactoryDataParser.h
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: documentation, platform, nrf connect, scripts

#185 [nrf noup] Removed accidentally commited darwin file
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm~c76ba8f01... Darwin: Improve os_log integration (#23528)
Labels: darwin

#190 [nrf fromtree][icd] Removed ICD related methods (former SED) from NoT…
  examples/light-switch-app/nrfconnect/Kconfig
  examples/lock-app/nrfconnect/Kconfig
  src/include/platform/internal/GenericConnectivityManagerImpl_NoThread.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.h
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: examples, platform, nrf connect

#191 [nrf noup] Increased the default net_mgmt stack size
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#193 [nrf noup] [nrfconnect] Introduce BLE advertising arbiter
  config/nrfconnect/chip-module/Kconfig.defaults
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-app/nrfconnect/main/include/AppEvent.h
  examples/all-clusters-app/nrfconnect/main/include/AppTask.h
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/include/AppEvent.h
  examples/all-clusters-minimal-app/nrfconnect/main/include/AppTask.h
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/include/AppEvent.h
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppEvent.h
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppEvent.h
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/platform/nrfconnect/util/DFUOverSMP.cpp
  examples/platform/nrfconnect/util/include/DFUOverSMP.h
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/include/AppEvent.h
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppEvent.h
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/AppEvent.h
  examples/window-app/nrfconnect/main/include/AppTask.h
  src/platform/Zephyr/BLEAdvertisingArbiter.cpp
  src/platform/Zephyr/BLEAdvertisingArbiter.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/Zephyr/BUILD.gn
  src/platform/Zephyr/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: examples, config, platform, nrf connect, zephyr

#198 [nrf noup] wifi: scan refinements
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect
