Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-10, with the labels that each got.

#328 [nrf noup] Increase the maximum number of prefixes
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#326 [nrf noup] [nrfconnect] Enable NVS lookup cache settings optimization
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#334 Fixed zap assets names
  scripts/setup/nrfconnect/get_zap.py
Labels: scripts

#337 [nrf noup] Disable nRF70 driver logs verbosity by default
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#336 [nrf noup] Disabled BLE 2M PHY due to interoperability issues
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.hci_rpmsg.defaults
  config/nrfconnect/chip-module/Kconfig.multiprotocol_rpmsg.defaults
Labels: config

#340 [nrf noup] Disabled Wi-Fi logs to save flash
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#341 [nrf noup] Increase stability of Wi-Fi LPM operations
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
Labels: bug, config

#343 [nrf noup] wifi: avoid unwanted connect request
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#333 [nrf fromlist] [nrfconnect] Align nrf_power calls to new scheme
  src/platform/nrfconnect/Reboot.cpp
Labels: platform, nrf connect

#332 [nrf fromtree] app: clusters: Add handling a local lock operation error
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app
