Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-02, with the labels that each got.

#175 [nrf noup] Enable runtime PA gain control when FEM is active
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#203 [nrf noup] [nrfconnect] Introduce the WiFi connection recovery feature
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.features
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: config, platform, nrf connect

#208 [nrf fromlist] [Zephyr] Fix General Diagnostics Hardware Address
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
Labels: platform, zephyr

#207 [nrf noup] Remove Android Chip Tool build from release workflow
  .github/workflows/release_tools.yaml
Labels: github, workflows

#202 mgmt: mcumgr: Remove command registration functions
  examples/platform/nrfconnect/util/DFUOverSMP.cpp
Labels: examples, platform

#210 [nrf noup] Fixed several Wi-Fi issues
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.hci_rpmsg.defaults
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: config, platform, nrf connect

#215 [nrf noup] Fix the unused variable error
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#216 [nrf fromlist] Make sure that we don't miss lookup result notifications.
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
Labels: bug, lib

#217 [nrf noup] Mapped the WiFi security type from Zephyr to Matter
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#214 [nrf noup] Remove dependency to openssl from CHIP tool build for linux
  .github/workflows/release_tools.yaml
Labels: bug, github, workflows
