Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-09, with the labels that each got.

#322 [nrf noup] Increased number of net sockets poll max
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#323 [nrf fromtree] [app] Allow to define external clusters in chip_data_model.*
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/zap_cluster_list.py
Labels: app

#324 [nrf noup] Enhance/Optimize attach to thread network
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform

#316 [nrf noup] Optimize RAM usage
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  src/lib/shell/commands/Stat.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/SystemPlatformConfig.h
Labels: config, platform, nrf connect, lib, shell

#325 [nrf noup] Remove recovery mechanism for Wi-Fi connection
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#327 [nrf fromtree][nrfconnect] Added erasing network credentials after last fabric removal
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-app/nrfconnect/main/include/AppTask.h
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/include/AppTask.h
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/platform/nrfconnect/util/include/FabricTableDelegate.h
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/AppTask.h
Labels: examples, config, platform
