Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-12, with the labels that each got.

#364 [nrf noup] Added check to drop handling callbacks for BT central
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
Labels: platform, zephyr

#365 [nrf fromlist] Fixed DECLARE_DYNAMIC_ATTRIBUTE to support CLIENT role…
  examples/bridge-app/asr/subdevice/subdevice_test.cpp
  examples/bridge-app/esp32/README.md
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/README.md
  examples/bridge-app/linux/main.cpp
  examples/bridge-app/telink/README.md
  examples/bridge-app/telink/src/AppTask.cpp
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/tv-common/src/AppTv.cpp
  src/app/util/attribute-storage.h
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestEventNumberCaching.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
  src/controller/tests/TestWriteChunking.cpp
Labels: examples, app, controller

#331 [crypto] Add PSA SPAKE2+ implementation
  config/nrfconnect/chip-module/CMakeLists.txt
  src/crypto/BUILD.gn
  src/crypto/PSASpake2p.cpp
  src/crypto/PSASpake2p.h
  src/crypto/crypto.gni
  src/protocols/secure_channel/PASESession.h
Labels: config, crypto, protocols

#368 [nrf fromlist] [nrfconnect] Add kconfig for enabling Read Client
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  examples/all-clusters-app/nrfconnect/prj.conf
  examples/all-clusters-app/nrfconnect/prj_dfu.conf
  examples/all-clusters-app/nrfconnect/prj_release.conf
  examples/light-switch-app/nrfconnect/prj.conf
  examples/light-switch-app/nrfconnect/prj_no_dfu.conf
  examples/light-switch-app/nrfconnect/prj_release.conf
  src/test_driver/nrfconnect/prj.conf
Labels: examples, config, test driver

#311 Switch to PSA crypto
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/crypto/PSASpake2p.cpp
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: config, platform, nrf connect, zephyr, app, crypto

#361 [nrf noup] WPA supplicant advanced features disabled
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config
