Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-08, with the labels that each got.

#312 [nrf noup] Repair wrong casting for CSL period setting
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform

#315 [nrf noup] Align finding Python3 executable to NCS requirements.
  config/nrfconnect/chip-module/generate_factory_data.cmake
Labels: config

#314 [nrf noup] Enable Factory Data by default for all samples in NCS
  config/nrfconnect/chip-module/Kconfig
Labels: config

#318 [nrf noup] [shell] Add documentation for stat commands
  docs/guides/nrfconnect_examples_cli.md
  src/lib/shell/commands/Stat.cpp
Labels: documentation, lib, shell

#319 [nrf noup] Enable minimal configuration of Shell
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#320 [nrf noup] Fixed boot reason for nRF52
  src/platform/nrfconnect/Reboot.cpp
Labels: platform, nrf connect

#321 [nrf fromtree][nrfconnect] [OTA] Confirm the new image in the app init.
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/nrfconnect/util/OTAUtil.cpp
  examples/platform/nrfconnect/util/include/OTAUtil.h
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/AppTask.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: examples, platform, nrf connect
