Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-04, with the labels that each got.

#263 [nrf noup] Changed WPA SUPP logs level to error
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#266 [nrf fromtree][nrfconnect] Implemented OnSubscriptionRequested callba…
  config/nrfconnect/chip-module/Kconfig.features
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/light-switch-app/nrfconnect/Kconfig
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/Kconfig
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/platform/nrfconnect/util/ICDUtil.cpp
  examples/platform/nrfconnect/util/include/ICDUtil.h
  examples/window-app/nrfconnect/CMakeLists.txt
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/prj.conf
  examples/window-app/nrfconnect/prj_no_dfu.conf
  examples/window-app/nrfconnect/prj_release.conf
Labels: examples, config, platform

#271 [nrf noup] Fixed dependencies for CHIP_DFU_OVER_BT_SMP kconfig
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#269 [nrf noup] Set BLE connection to 1 for NUS
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#272 [nrf noup] Fixed system workqueue stack overflow for Wi-Fi
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#273 [nrf noup] Disable bonding for NUS
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#274 [nrf noup] Disable unnecessary assert information
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#275 [nrf noup] Introduce workaround to Wi-Fi connection recovery
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#268 [nrf fromtree][nrfconnect] Repair Rotating Device ID UID parsing
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-app/nrfconnect/main/include/AppTask.h
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/include/AppTask.h
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/AppTask.h
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/DeviceInstanceInfoProviderImpl.cpp
  src/platform/nrfconnect/DeviceInstanceInfoProviderImpl.h
  src/platform/nrfconnect/FactoryDataParser.c
  src/platform/nrfconnect/FactoryDataProvider.cpp
Labels: examples, platform, nrf connect
