Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-03, with the labels that each got.

#224 [nrf noup] Support disabling Wi-Fi LPM during the OTA DFU
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/OTAImageProcessorImplWiFi.h
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#228 [nrf fromtree] [nrfconnect] Fix build on master
  .github/workflows/examples-nrfconnect.yaml
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  scripts/constraints.txt
  src/test_driver/nrfconnect/CMakeLists.txt
  src/test_driver/nrfconnect/main/runner.cpp
  src/test_driver/nrfconnect/prj.conf
Labels: config, scripts, github, workflows, test driver

#229 [nrf noup] Provide configs for Matter NUS feature
  config/nrfconnect/chip-module/Kconfig.features
  src/platform/Zephyr/BLEAdvertisingArbiter.cpp
Labels: config, platform, zephyr

#233 [nrf noup] FactoryDataProvider: align the fprotect memory block
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: config, platform, nrf connect

#253 [nrf fromlist] [nrfconnect] Import spake2p.py as a module
  config/nrfconnect/chip-module/generate_factory_data.cmake
  scripts/setup/requirements.nrfconnect.txt
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: config, scripts
