Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2023-07, with the labels that each got.

#302 [nrf noup] Fix generate zap sript on windows
  scripts/tools/zap/generate.py
Labels: scripts

#301 config: nrfconnect: Remove PSA_WANT default n setting
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#303 [nrf fromlist] bypass support for IPv4
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
Labels: config

#308 [door-lock] extend the OnFabricRemoved delegate with custom callback
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app
