Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-02, with the labels that each got.

#380 [nrf noup] Lock thread stack before factory reset
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
Labels: platform, zephyr

#385 [nrf noup] Align heap configuration to Wi-Fi needs
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#388 [nrf fromtree] When dimming a light/bulb over time or changing color, the thread network can be spammed fix
  src/app/clusters/color-control-server/color-control-server.cpp
Labels: app

#381 [nrf noup] nrfconnect/telink: Adapt to zcbor 0.8.1
  src/platform/nrfconnect/FactoryDataParser.c
  src/platform/telink/FactoryDataParser.c
Labels: platform, nrf connect, telink

#389 [nrf noup] [zephyr] Allow BLE advertising restarts
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
Labels: platform, zephyr

#394 [nrf noup] [nrfconnect] [zephyr] Disable synchronous printk
  config/nrfconnect/chip-module/Kconfig.defaults
  config/zephyr/chip-module/Kconfig.defaults
Labels: config

#395 [nrf noup] nrfconnect: Use version string with tweak
  config/zephyr/ota-image.cmake
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: config, platform, nrf connect

#397 Revert "[nrf fromlist][nrfconnect] Add checking of Wi-Fi supplicant and Interface"
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#392 [nrf fromlist][nrfconnect] Refactor of the factory data support
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/generate_factory_data.cmake
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: documentation, DNM, config, scripts

#396 [nrf noup] Spake2+ alignments regarding the newest Oberon version
  config/nrfconnect/chip-module/Kconfig.defaults
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALPSA.h
  src/crypto/PSASessionKeystore.cpp
  src/crypto/PSASpake2p.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: config, platform, nrf connect, crypto

#391 [nrf noup] Adapt Matter SDK to te WiFi FW patch on external flash
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config
