Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-03, with the labels that each got.

#398 [nrf noup] Increase CHIP stack size
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: bug, platform, nrf connect

#400 [nrf noup] Fix the build warning in door-lock-server
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: bug, app

#401 [nrf fromlist] [app] Do not crash if CommandHandler fails to allocate packet
  src/app/CommandHandler.cpp
Labels: bug, app

#403 [nrf noup] Select Experimental for persistent subscriptions
  config/nrfconnect/chip-module/Kconfig
Labels: config

#405 [nrf noup] Fix zap instalation for MacOs
  scripts/setup/nrfconnect/get_zap.py
Labels: scripts

#407 [nrf noup] Fix blocker issue with stack sizes
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: bug, config, platform, nrf connect

#413 [nrf noup] Fix the external cluster injection mechanism
  src/app/chip_data_model.cmake
Labels: app

#411 [nrf fromtree] Bootsrtap.sh fix
  scripts/setup/constraints.txt
Labels: scripts

#415 [nrf fromlist] [door-lock] Fix the crash when providing null-ed user …
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app

#410 [nrf noup] followup to wifi issues fix
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/NrfWiFiDriver.h
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#412 [nrf noup] Wifi directed scan with single scan
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#416 [nrf noup] Fix build for 7001 Emulation
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
Labels: config

#417 [nrf noup] Fix build for 7001 Emulation
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
Labels: config
