Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-06, with the labels that each got.

#449 [nrf toup][nrfconnect] Removed defaults for child images
  config/nrfconnect/chip-module/Kconfig.hci_ipc.defaults
  config/nrfconnect/chip-module/Kconfig.hci_ipc.root
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
  config/nrfconnect/chip-module/Kconfig.mcuboot.root
  config/nrfconnect/chip-module/Kconfig.multiprotocol_rpmsg.defaults
  config/nrfconnect/chip-module/Kconfig.multiprotocol_rpmsg.root
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-minimal-app/nrfconnect/CMakeLists.txt
  examples/chef/nrfconnect/CMakeLists.txt
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lit-icd-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/window-app/nrfconnect/CMakeLists.txt
Labels: examples, config

#448 [nrf toup] Enable SPI configuration for nRF54L.
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#451 Fix building on Windows
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/platform/BUILD.gn
Labels: platform, darwin

#450 [nrf noup] Power nRF54H20 workaround.
  src/platform/nrfconnect/Reboot.cpp
Labels: platform, nrf connect

#443 [nrf toup] Enable MBEDTLS_AES_ONLY_128_BIT_KEY_LENGTH config
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#455 [nrf toup] Disable `CONFIG_FPU` by default to align with OT libraries
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#456 [nrf toup] Fix missing network band in scan response.
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect
