Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-09, with the labels that each got.

#472 [nrf fromtree][icd] Introduced define to configure the slow poll limi…
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  src/app/icd/server/ICDConfigurationData.h
  src/include/platform/CHIPDeviceConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: config, platform, nrf connect, app, icd

#473 [nrf fromtree][nrfconnect] Added BT reassembly config as default for …
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#475 [nrf toup][nrfconnect] Refactor ExternalFlashManager
  src/platform/nrfconnect/ExternalFlashManager.h
Labels: platform, nrf connect

#477 [nrf toup] [nrfconnect] Increase workqueue stack size for LIT
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#471 [nrf fromtree] [nrfconnect] Fix the case when the Wi-Fi info cannot be retrieved
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
Labels: platform, nrf connect

#480 [nrf noup] Mark `CHIP_ICD_LIT_SUPPORT` experimental
  config/zephyr/Kconfig
Labels: config
