Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-05, with the labels that each got.

#437 [nrf toup][nrfconnect] Fixed calculation of Wi-Fi unicast counters
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#440 [nrf toup] Enable SPI configuration for nRF54L
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
Labels: config

#446 Revert "[nrf toup] Enable SPI configuration for nRF54L"
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
Labels: config

#438 config: Add initial sysbuild files
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/generate_factory_data_sysbuild.cmake
  config/zephyr/ota-image_sysbuild.cmake
Labels: config

#447 [nrf toup] Added Kconfig to enable BDX transfer for logs
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: config, platform, nrf connect

#445 [nrf noup] ZAP west command improvements
  scripts/west/zap_common.py
  scripts/west/zap_generate.py
  scripts/west/zap_gui.py
Labels: scripts
