Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-10, with the labels that each got.

#484 [nrf toup][nrfconnect] Enable SPI for nRF54L15DK NS build
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#483 [nrf toup][nrfconnect] Enable cache processing for SUIT
  config/nrfconnect/chip-module/Kconfig
Labels: config

#482 [nrf toup] config: align the MCUmgr Bluetooth transport Kconfig
  config/nrfconnect/chip-module/Kconfig.features
  config/zephyr/chip-module/Kconfig.features
Labels: config

#487 [nrf noup] Shedule factory reset in Server using Matter Shell command
  src/lib/shell/commands/Device.cpp
Labels: lib, shell

#486 [nrf toup] [nrfconnect] Enable MLDv2 join procedure for IPv6 Multicasts
  src/platform/nrfconnect/ConnectivityManagerImpl.cpp
Labels: platform, nrf connect

#488 Fix wifi heap
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#494 [nrf toup] Increased stack size for the OpenThread with nRF54L
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#489 [nrf noup] wifi: Fix WPA supplicant rename
  config/nxp/chip-module/Kconfig.defaults
Labels: config

#490 [nrf toup] Include EXTRAVERSION in Matter software version string
  config/zephyr/ota-image.cmake
  config/zephyr/ota-image_sysbuild.cmake
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: config, platform, nrf connect

#496 [nrf toup] Fix defines for ZMS
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
Labels: platform, zephyr

#495 [nrf toup] [nrfconnect] Add support for SUIT over Matter OTA
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
Labels: config, platform, nrf connect

#498 [nrf toup] Migrate DAC to CRACEN KMU on nRF54L devices
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/FactoryDataProvider.cpp
Labels: config, platform, nrf connect

#500 [nrf toup][nrfconnect] Enabled DAC migration by default for Thread
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#501 [nrf toup][nrfconnect] Fix DAC migration
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/nrfconnect/FactoryDataProvider.cpp
Labels: config, platform, nrf connect

#502 [nrf toup][nrfconnect] Enabled DAC migration by default for Thread
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#503 [Backport v2.8-branch] [nrf toup][nrfconnect] Fix DAC migration
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/nrfconnect/FactoryDataProvider.cpp
Labels: config, platform, nrf connect

#504 [nrf noup] Provide a workaround for Factory Data support on nRF54H
  config/nrfconnect/chip-module/generate_factory_data.cmake
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: config, platform, nrf connect

#505 [Backport v2.8-branch][nrf noup] Provide a workaround for Factory Data support on nRF54H
  config/nrfconnect/chip-module/generate_factory_data.cmake
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: config, platform, nrf connect
