Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-01, with the labels that each got.

#372 [nrf noup] Move DAC priv key from Factory Data to PSA ITS
  config/nrfconnect/chip-module/Kconfig
  src/crypto/CHIPCryptoPALPSA.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/nrfconnect/FactoryDataParser.c
  src/platform/nrfconnect/FactoryDataParser.h
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: config, platform, nrf connect, crypto

#373 [nrf noup][zephyr] Enabled support for bonding in the BLEManager
  src/platform/Zephyr/BLEAdvertisingArbiter.cpp
  src/platform/Zephyr/BLEAdvertisingArbiter.h
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, zephyr

#371 [nrf noup] [nrfconnect] Added FactoryDataProviderBase
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: platform, nrf connect

#375 [nrf fromtree][OpenThread] Harden DNS record parsing
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform

#376 [nrf noup] [zephyr] Fix CHIPDevicePlatformEvent.h include dependencies
  src/platform/Zephyr/CHIPDevicePlatformEvent.h
Labels: platform, zephyr

#378 [nrf noup] Added DNS server refresh after adding new IPv6 prefix
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#370 [nrf noup] Versioning with VERSION file for matter implemented
  config/zephyr/Kconfig
  config/zephyr/ota-image.cmake
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: config, platform, nrf connect

#382 [nrf noup] wifi: Fix 5GHz association
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect
