Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-07, with the labels that each got.

#459 [nrf noup] ci: update the docker image
  .github/workflows/release_tools.yaml
Labels: github, workflows

#457 [nrf toup][nrfconnect] Introduced Kconfigs to configure few params
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: config, platform, nrf connect

#458 [nrf noup] Add SUIT to the Matter configuration
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#460 [nrf toup][nrfconnect] Added module to synchronize DFU processes
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/DFUSync.cpp
  src/platform/nrfconnect/DFUSync.h
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: config, platform, nrf connect

#461 [nrf toup][nrfconnect] Added support for Matter OTA using SUIT
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: config, platform, nrf connect

#464 [nrf toup] [nrfconnect] Implement IPv6 agnostic L2 network state getters
  src/platform/nrfconnect/ConnectivityManagerImpl.h
Labels: platform, nrf connect

#465 [nrf toup] VerifyOrDie logging for constrained devices
  build/config/compiler/BUILD.gn
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  src/lib/core/CHIPConfig.h
  src/lib/support/CodeUtils.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: config, platform, nrf connect, gn, lib, core, support

#466 [nrf toup][nrfconnect] Added support for settings shell in mem profiling
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
Labels: config
