Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-12, with the labels that each got.

#516 [nrf toup] [nrfconnect] Enable ZMS for MRAM-based devices
  config/nrfconnect/chip-module/Kconfig
Labels: config

#519 [nrf toup] Increased system workqueue size for LIT
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: bug, config

#518 [nrf toup] [nrfconnect] Change `CHIP_SPI_NOR` config dependency
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#521 [Backport v2.9-branch] Change `CHIP_SPI_NOR` config dependency
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#523 [Backport v2.9-branch] Clear Thread Network after last fabric is removed
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: bug, platform

#522 [nrf toup] Clear Thread Network after last fabric is removed
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: bug, platform

#507 [nrf toup] Reduce Packet Buffer Pool size to 11
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/SystemPlatformConfig.h
Labels: config, platform, nrf connect

#525 [nrf noup] Fix release tools workflow
  .github/workflows/release_tools.yaml
Labels: github, workflows
