Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-04, with the labels that each got.

#418 [nrf fromlist][nrfconnect] Improve CHIP_MEMORY_PROFILING config
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#419 [scripts] Fixed nrfconnect factory generation scripts
  config/nrfconnect/chip-module/generate_factory_data.cmake
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: documentation, config, scripts

#424 [nrf noup] Add custom west commands to ease ZAP usage
  .gitignore
  scripts/west/west-commands.yml
  scripts/west/zap_common.py
  scripts/west/zap_generate.py
  scripts/west/zap_gui.py
Labels: scripts

#420 [nrf noup] Increase default number of packet buffers and stack size
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/SystemPlatformConfig.h
Labels: bug, DNM, platform, nrf connect

#428 [mrp] Increase default retry interval for Thread
  src/messaging/ReliableMessageProtocolConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: platform, nrf connect, messaging

#429 [mrp] Increase default retry interval for Thread
  src/messaging/ReliableMessageProtocolConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: platform, nrf connect

#430 [mrp] Increase default retry interval for Thread
  src/messaging/ReliableMessageProtocolConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: platform, nrf connect, messaging

#427 [nrf toup] [nrfconnect] Disable External FD if QSPI NOR is not available
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: platform, nrf connect

#431 CI:make PR to manifest
  .github/workflows/create-manifest-pr.yaml
Labels: github, workflows

#432 [nrf toup][nrfconnect] Fixed mcuboot default configuration
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
Labels: config
