Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2024-11, with the labels that each got.

#506 [nrf toup][nrfconnect] Enable storing DAC key in KMU by default
  config/nrfconnect/chip-module/Kconfig
Labels: config

#508 [nrf toup] [nrfconnect] disable `FPROTECT` for nRF54L15
  config/nrfconnect/chip-module/Kconfig
Labels: bug, config

#509 [Backport v2.8-branch][nrf toup][nrfconnect] Enable storing DAC key in KMU by default
  config/nrfconnect/chip-module/Kconfig
Labels: config

#510 [Backport v2.8-branch][nrf toup] [nrfconnect] disable `FPROTECT` for nRF54L15
  config/nrfconnect/chip-module/Kconfig
Labels: bug, config

#514 [nrf noup] Implement Spake2pVerifier for PSA crypto
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/PSASpake2p.cpp
Labels: crypto

#499 [nrf toup] Factory data partition location change
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: config, platform, nrf connect

#515 [nrf toup][nrfconnect] Added config to enable report on active mode
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
Labels: config
