Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2025-04, with the labels that each got.

#584 [nrf noup] Disable some failing tests
  src/messaging/tests/BUILD.gn
Labels: messaging

#576 [noup] github: workflow: Archive matter_testing wheel
  .github/workflows/release_tools.yaml
Labels: github, workflows

#585 [nrf toup] Revert size of Packet Buffer Pool to previous value
  config/nrfconnect/chip-module/Kconfig
Labels: config

#583 [nrfconnect] Reconfigure memory pool sizes
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#586 [nrf noup] Added running unit tests on native posix with ZMS
  .github/workflows/examples-nrfconnect.yaml
Labels: github, workflows

#587 [nrf toup] Added disconnection code to the debug log
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#599 [nrf noup] Add --keep-previous argument to zap-generate
  scripts/west/zap_generate.py
Labels: scripts

#602 [nrf noup] Bump the Ubuntu version for release tools.
  .github/workflows/release_tools.yaml
Labels: github, workflows
