Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2025-08, with the labels that each got.

#622 [nrf toup][nrfconnect] Align with Zephyr net_mgmt API changes
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#635 [nrf fromlist][cmake] Fix building issue due to lack of Python3 under…
  build/chip/chip_codegen.cmake
Labels: bug, gn

#639 [nrf toup] [Crypto] Fix the wrong handling PSA pending keypair.
  src/crypto/PSAOperationalKeystore.cpp
Labels: crypto

#641 [backport 3.1] [nrf toup] [Crypto] Fix the wrong handling PSA pending keypair.
  src/crypto/PSAOperationalKeystore.cpp
Labels: crypto
