Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2025-01, with the labels that each got.

#526 [nrf noup][nrfconnect] Fix DAC migration for MRAM-based devices.
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: platform, nrf connect

#527 [nrf toup] Disable mpsl before performing factory data
  config/nrfconnect/chip-module/Kconfig.defaults
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
Labels: config, platform, zephyr

#529 [nrf toup][nrfconnect] Reconnect to network after RPU recovery
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect

#520 [nrf toup] config: nrfconnect: chip-module: Remove child/parent support
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
Labels: config

#534 [nrfconnect] Moved 54L specific configs to defaults
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#536 [nrf toup] Fix user data argument in factory data docs
  docs/guides/nrfconnect_factory_data_configuration.md
Labels: documentation

#535 [nrftoup] docs: guides: update nrfconnect factory data guide
  docs/guides/nrfconnect_factory_data_configuration.md
Labels: documentation

#537 [nrf toup] Added rx count extra to fix an issue with acls count
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#531 [nrf fromtree][Zephyr] Add implementation of POSIX API wrappers if necessary (#37007)
  config/zephyr/Kconfig
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/inet/BUILD.gn
  src/inet/IPAddress.h
  src/inet/UDPEndPointImplSockets.cpp
  src/inet/ZephyrSocket.h
  src/system/BUILD.gn
  src/system/SystemClock.h
  src/system/SystemConfig.h
  src/system/SystemLayerImplSelect.h
Labels: inet, config, platform, system

#538 [toup][nrfconnect] Fix compatibility with wifi driver
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect

#540 [crypto] Fix initialization of psa key attributes
  src/crypto/PSASessionKeystore.cpp
Labels: crypto

#542 [nrf fromtree] [Zephyr] Save total operational hours on Read (#37259)
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.h
Labels: platform, zephyr
