Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2025-02, with the labels that each got.

#546 [nrf toup][nrfconnect] set default TX power for nRF54L
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#550 [nrf noup] Build chip-tool in Ubuntu 20.04
  .github/workflows/release_tools.yaml
Labels: github, workflows

#547 [nrf noup] Add zcl_generate to west command
  scripts/west/west-commands.yml
  scripts/west/zap_append.py
  scripts/west/zap_common.py
  scripts/west/zap_gui.py
Labels: scripts

#555 Fix workflow
  .github/workflows/examples-nrfconnect.yaml
Labels: github, workflows

#553 Remove linking workaround
  .github/workflows/examples-nrfconnect.yaml
Labels: github, workflows

#560 [nrf toup] [nrfconnect] remove ZMS_LOOKUP_CACHE_FOR_SETTINGS
  config/nrfconnect/chip-module/Kconfig
Labels: config

#562 [nrf noup] Fix parsing PR description
  .github/workflows/examples-nrfconnect.yaml
Labels: github, workflows

#561 [nrf toup][Zephyr] Retry starting BLE advertising after releasing con…
  src/platform/Zephyr/BLEAdvertisingArbiter.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, zephyr
