Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2025-07, with the labels that each got.

#625 [nrf toup][nrfconnect] Changed the default ICD config values
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config

#628 [nrf noup] Added measuring factory reset time
  config/zephyr/Kconfig
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/ConfigurationManagerImpl.h
Labels: config, platform, zephyr

#632 [nrf fromlist][dnssd] Fixed buffer sizes for dns names
  src/lib/dnssd/platform/Dnssd.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform, lib

#631 [nrf noup] Extend zap-generate to process multiple files at once
  scripts/west/zap_generate.py
Labels: scripts
