Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2025-05, with the labels that each got.

#604 [nrf noup] Fix TC-ACE-2.2
  src/app/zap-templates/zcl/data-model/chip/bridged-device-basic-information.xml
Labels: app

#606 [Backport v2.9-branch] [nrf noup] Fix TC-ACE-2.2
  src/app/zap-templates/zcl/data-model/chip/bridged-device-basic-information.xml
Labels: app

#597 fix: handle paths on different drives in Windows for zap-gui
  scripts/west/zap_common.py
Labels: scripts, external

#600 [nrf noup] Use ZAP CLI for version check
  scripts/west/zap_common.py
Labels: scripts, external

#601 [nrf noup] Use proper ZAP package for Linux/Windows with ARM CPUs
  scripts/west/zap_common.py
Labels: scripts, external

#612 [nrf fromtree] Fix TestInetEndPoint to pass even when computer is offline
  src/inet/tests/TestInetEndPoint.cpp
Labels: inet

#607 [Backport v3.0-branch] [nrf noup] Fix TC-ACE-2.2
  src/app/zap-templates/zcl/data-model/chip/bridged-device-basic-information.xml
Labels: platform, zephyr, tests, app, transport

#615 [nrf noup] Build chip-tool with logs
  .github/workflows/release_tools.yaml
Labels: github, workflows

#614 [nrf toup][crypto] Add support for single-part AEAD operation
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig.defaults
  config/zephyr/Kconfig
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/crypto.gni
Labels: config, crypto
