Repository nrfconnect/sdk-connectedhomeip, pull requests merged in 2025-03, with the labels that each got.

#543 [Backport v2.9-branch][nrf fromtree] [Zephyr] Save total operational hours on Read
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.h
Labels: platform, zephyr

#533 [Backport v2.9-branch][nrf toup][nrfconnect] Reconnect to network after RPU recovery
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: config, platform, nrf connect

#572 [nrf fromtree] Add factory reset event
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestServer.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/platform/fake/PlatformManagerImpl.h
  src/test_driver/nrfconnect/prj.conf
Labels: platform, tests, app, test driver

#575 [Backport v2.9-branch] [nrf fromtree] Add factory reset event
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestServer.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/platform/fake/PlatformManagerImpl.h
  src/test_driver/nrfconnect/prj.conf
Labels: platform, tests, app, test driver

#573 [nrf fromtree] OpenThread: Clear SRP host and services during RevertConfiguration
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
Labels: platform

#580 [nrf toup] Don't advertise when waiting for last fabric removed action
  examples/platform/nrfconnect/util/include/FabricTableDelegate.h
Labels: examples, platform

#581 [nrf noup] Optimized configuration for LITs
  config/zephyr/Kconfig
Labels: config
